<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Login Success</title>
	</head>
	<body>
	       <table style="width:25%">
        	        <tr>
	                        <td><b>Navigation</b></td>
                        	<td><a href="register">Register</a></td>
                	        <td><a href="login">Login</a></td>
        	        </tr>
	        </table>
		<center>
			<span th:text="${emailId} + ' successfully logged in.'"></span>
		</center>
	</body>
</html>
